/* Soluzione qui */

@media screen and (min-width: 768px) {
  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .quick-notes li {
    flex: 0 0 calc((100% - 40px) / 3);
    margin: 0;
  }
  .recipe-origin {
    display: inline-block;
  }
  main {
    padding: 45px;
  }
  #logo {
    font-size: 70px;
  }
  #topbar {
    padding: 0;
    margin-right: 217px;
  }
  .btn {
    min-width: 100px;
  }
  .ads {
    display: block;
  }
  .presentation img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 40%;
  }
}
@media screen and (min-width: 992px) {
}
