/* Soluzione qui */

@media screen and (min-width: 768px) {
  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .quick-notes li {
    flex: 0 0 calc((100% - 40px) / 3);
    margin: 0;
  }
  .recipe-name {
    font-size: 32px;
  }
  .recipe-origin {
    display: inline-block;
  }
  main {
    padding: 45px;
  }

  #topbar {
    padding: 0;
    margin-right: 413px;
  }
  .btn {
    min-width: 100px;
  }
  .ads {
    display: block;
  }
  .presentation img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .recipe-name {
    font-size: 46px;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-video {
    width: 60%;
    height: auto;
  }

  .recipe-info {
    width: 40%;
    padding: 40px;
  }

  .presentation img {
    max-width: 35%;
    margin-right: 30px;
  }

  main {
    padding: 60px;
  }

  .recipe header {
    margin-bottom: 30px;
  }
}
